{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1e3946157d.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <style>
            /* body {
                font-family: 'Secular One', sans-serif;
                background-color:rgb(54, 54, 55);
                color: white;
            }

            .post {
                border: 1px solid white;
                border-radius:8px;
                padding: 5px;
                margin-bottom: 10px;
            }

            hr {
                background-color: white;
            }
             */
        </style>
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="glass">
            <div class="dashboard">
                <div class="logo_content">
                    <div class="logo">
                        <i class='bx bxs-message-square-detail'></i>
                        <a><div class="logo_name">Network</div></a>
                        <i id="btn" class='bx bx-menu-alt-right'></i>
                    </div>
                </div>
            
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="#">
                                <i class='bx bx-grid-alt'></i>
                                <span class="links_name"><strong>{{ user.username|title }}</strong></span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'index' %}">
                            <i class='bx bxs-dashboard'></i>
                            <span class="links_name">All Posts</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'following-view' %}">
                                <i class='bx bxs-group'></i>
                                <span class="links_name">Following</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class='bx bx-log-out'></i>
                                <span class="links_name">Log Out</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">
                                <i class='bx bx-log-in'></i>
                                <span class="links_name">Log In</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">
                                <i class='bx bxs-user-plus'></i>
                                <span class="links_name">Register</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="modal-button" data-modal-target="#post-modal" id="open">
                            <i class='bx bx-edit'></i>
                            <span class="links_name">Post</span>
                        </a>
                    </li>
                    <div id="overlay">

                    </div>
                </ul>

                {% if request.user.is_authenticated %}
                    <div class="profile_content">
                        <div class="profile">
                            <div class="profile-details">
                                <div class="row">
                                        <div class="col-3">
                                            <img class="profile-image" src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" alt="">
                                        </div>
                                        <div class="pr-name col-5">
                                            <div class="p-name" style="font-size: 15px;">{{request.user.username|title}}</a></div>
                                        </div>
                                    <div class="col-3">
                                        <a href="{% url 'logout' %}">
                                            <div class="profile_link"><i style="font-size:25px; left: 88%;
                                                transform: translateX(-50%);
                                                min-width: 50px;
                                                line-height: 50px;
                                                font-size: 25px;
                                                align-items: baseline;
                                                border-radius: 12px;" class='bx bx-log-out'></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="profile_content">
                        <div class="profile">
                            <div class="profile-details">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="profile-image" src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" alt="">
                                    </div>
                                    <a href="{% url 'login' %}">
                                        <div class="pr-name col-5">
                                            <div class="p-name" style="margin-top: px;">Not signed In.</a></div>
                                        </div>
                                        <div class="col-3">
                                            <a href="{% url 'login' %}">
                                                <div class="profile_link"><i id="icon" class='bx bx-log-in'></i></div>
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <script src="{% static 'network/index.js' %}"></script>
    </body>
</html>