{% extends "network/layout.html" %}

{% block body %}
<div class="posts">
    <h2>Login</h2>
    
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="post">
        <form action="{% url 'login' %}" method="post" style="width: 900px;">
            {% csrf_token %}
            <div class="mb-3">
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <button class="btn btn-secondary" type="submit" value="Login">Login</button>
            </div>
        </form>
        
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
</div>



{% endblock %}