{% extends "network/layout.html" %}
{% load custom_tags %}

{% block body %}
    <div class="container">
        {% if profile.image.url %}
            <img src="{{ profile.image.url }}" alt="">
        {% else %}
            <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" style="height: 100px; width: 100px; border-radius: 50%;">
        {% endif %}
        <h3>{{ profile.user.username|title }}</h3>
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% endif %}

        {% with total_followers=profile.user.followers.count %}
            <span id="followers_count">{{ total_followers }}</span> follower{{ total_followers|pluralize }}
        {% endwith %}
        <br>
        <i class="fas fa-map-marker-alt"></i> {% if profile.location %}{{ profile.location }} | {% endif %}
            {% if profile.date_of_birth %} <i class="fas fa-birthday-cake"></i> {{ profile.date_of_birth }} | {% endif %}<i class="far fa-calendar-alt"></i> Joined: {{profile.joined}} |
        {% if request.user == profile.user %}
            <a href="{% url 'edit_profile' %}">Edit profile</a>
        {% else %}
            <a data-id="{{ profile.user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow_button">
                {% if request.user not in user.followers.all %}
                    Follow
                {% else %}
                    Following
                {% endif %}
            </a>
        {% endif %}
        <hr>
        <h3>POSTS</h3>
        {% for p in posts %}
        <div class="post">
            <div class="row">
                <div class="col-1">
                    <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" style="height: 50px; width: 50px; border-radius: 50%;">
                </div>
                <div class="col-5" >
                    <a href="{% url 'profile' p.user.username %}" style="font-size: 20px;"><b>{{ p.user.username|title }}</b></a> • {{p.created|timesince|upto:','}}
                    <div class="post-info">
                        <p>{{ p.post }}</p>
                        <span>{{ p.created }}</span>

                        <div class="row">
                            <div class="col-3">
                                {% if request.user in p.liked.all %}
                                    <a class="likebutton" id="post{{ p.id }}" href="#" data-cid="{{ p.id }}" data-total="{{p.liked.all.count}}" data-value="Unlike" value="submit"><i class="fa fa-heart" id="heart{{p.id}}" style="color:red;"></i> <span id="liked{{p.id}}">{{p.liked.all.count}}</span></a>
                                {% else %}
                                    <a class="likebutton" id="post{{ p.id }}" href="#" data-cid="{{ p.id }}" data-total="{{p.liked.all.count}}" data-value="Like" value="submit"><i class="fa fa-heart" id="heart{{p.id}}" style="color:black;"></i> <span id="liked{{p.id}}">{{p.liked.all.count}}</span></a>
                                {% endif %}
                            </div>
                            <div class="col">
                                <a class="modal-button" data-modal-target="#my-modal" id="open" href="#" data-post="{{p.id}}"><i class="far fa-comment-alt"></i></a>
                            </div>
                        </div>
                        
                        
                        <div class="my-modal" id="my-modal">
                            <div class="modal-header">
                                <div class="title">Reply</div>
                                <button data-close-button class="close" style="color:white">&times;</button>
                            </div>
                            <div class="modal-body">
                                <span><b>{{ p.user.username|title }}</b> • {{p.created|timesince|upto:','}}</span>
                                <p>{{ p.post|truncatewords:20 }}</p>
                                <span><p>replying to @{{p.user.username}}</p></span>
                                <input class="comment-content form-control" id="comment" rows="2"/>
                                <button class="comment btn btn-secondary m-1" id="close">Post</button>
                            </div>
                        </div>
                        <div id="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}